
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form enctype="multipart/form-data" class="" action="/compose" method="post">
      <div class="form-group">
        <label>Titel</label>
        <input class="form-control" type="text" required name="postTitle" value="<%=title%> ">
        <br>
        <p>Forhåndsvisning af billede. Når artiklen læses er billedet forstørret. Har du ikke valgt et billede, bliver det tomme billede vist i stedet</p>
        <img src="/<%=postImage %>" class="preview-image" name="imageSource" width="300px" height="150px"> <br> <br>
        <input type="file" class="filename" name="postImage" accept="image/*"> 
        <button type="button" class="btn btn-primary remove-image">Fjern billede</button> 
        <br>
        <br>
        <p>Du kan hér vælge at knytte en lydfil til din artikel</p>

        <br>       
        <audio controls id="audioControl">
          <source src="/<%=postAudio%>" name="audioSource" type="audio/mpeg" id="audioPreview">
        </audio>

        <br>
        <br>
        <input type="file" class="filename" name="audioField" id="audioFileInput">
        <button type="button" class="btn btn-primary remove-audio">Fjern fil</button> 
        <br>
        <label>Indhold</label> <br>

               
        <textarea class="form-control" id="editor" required name="postBody" rows="5" cols="30"><%=content %> </textarea>
        <input type="hidden" name="postId" value="<%=postId %>"> 
        <input type="hidden" name="date" value="<%=date %> ">       
      </div>
      <br>
      <br>
      <button class="btn btn-primary" type="submit" name="button">Udgiv artikel</button>    
    </form>
    <% if(isUpdate){ %>
      <br>
    <form class="" action="/deletePost" method="post">
      <input type="hidden" name="deleteId" value="<%=postId %>">
      <button class="btn btn-primary" type="submit" name="deleteButton">Slet artikel</button>
    </form>
    <br>
   <% } %> 

   <!-- <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
   <script type="application/javascript" src= "/javascript\tinymce_config.js"></script> -->

<%- include("partials/footer"); -%>
